{% extends "base.html" %}

{% block title %}Nuevo Usuario - Cafés Marloy{% endblock %}

{% block content %}
<h2 class="titulo-tabla">Agregar Nuevo Usuario</h2>

<form method="POST" action="{{ url_for('crear_usuario') }}" class="formulario-nuevo">
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <label for="correo">Correo:</label>
    <input type="email" id="correo" name="correo" required>

    <label for="contraseña">Contraseña:</label>
    <input type="password" id="contraseña" name="contraseña" required>

    <label>
        <input type="checkbox" name="es_admin">
        Administrador
    </label>

    <button type="submit" class="primary">Crear Usuario</button>
    <button type="button" class="cancelar" onclick="location.href='{{ url_for('mostrar_usuarios') }}'">Cancelar</button>
</form>
{% endblock %}