{% extends "base.html" %}

{% block title %}Nuevo Cliente - Cafés Marloy{% endblock %}

{% block content %}
<h2 class="titulo-tabla">Agregar Nuevo Cliente</h2>

<form method="POST" action="{{ url_for('crear_cliente') }}" class="formulario-nuevo">
    <label>Nombre:</label>
    <input type="text" name="nombre" required>

    <label>Dirección:</label>
    <input type="text" name="direccion" required>

    <label>Teléfono:</label>
    <input type="text" name="telefono" required>

    <label>Correo:</label>
    <input type="email" name="correo" required>

    <button type="submit" class="primary">Crear Cliente</button>
    <button type="button" class="cancelar" onclick="location.href='{{ url_for('mostrar_clientes') }}'">Cancelar</button>
</form>
{% endblock %}